/* ALL */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-areas:
    "aside header header header"
    "aside header header header"
    "aside main main main"
    "aside main main main";
    height: 100vh;
    width: 100vw;
  font-family: 'Open Sans', sans-serif;
}

/* ASIDE */
aside {
  grid-area: aside;
  background-color: #1f1f32;
  padding: 20px 15px 0px 15px;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 1.25em;
}

h3 {
  color: #bfbfdd;
  font-size: 1em;
}


hr {
  margin: 30px 0px 30px 0px;
  width: 100%;
  border: 1px solid #353567;
}

.aside__btn {
  margin-top: 30px;
  background-color: #5356a4;
  color: #e9e9f3;
  border-radius: 2px;
  border: 1px solid #353567;
  width: 100%;
  height: 7%;
  font-size: 1.25em;
  font-weight: 700;
}

ul{
  margin: 20px 0px 20px 0px;
}

li {
  color: #ffffff;
  padding: 10px;
  font-size: 1.25em;
  font-weight: 300;
}

.aside__input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid #353567;
}

/* HEADER */
header {
  grid-area: header;
  background-color: #a9aad2;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 50%;
}

label {
  font-weight: 700;
  margin-bottom: -20px;
}

.form__input--title {
  height: 50px;
  border-radius: 2px;
  border: 2px solid #353567;
}

.form__input--body {
  height: 80px;
  border-radius: 2px;
  border: 2px solid #353567;
}

.form__btn {
  background-color: #353567;
  color: #e9e9f3;
  border-radius: 2px;
  border: 1px solid #353567;
  width: 100%;
  height: 15%;
  font-size: 1.25em;
  font-weight: 700;
}

.form__search--container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__img {
  height: 30px;
}

.form__img--bkgd {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 2px 0px 0px 2px;
  background-color: #353567;
}

.form__input--search {
  height: 50px;
  width: 100%;
  border-radius: 0px 2px 2px 0px;
  border: 2px solid #353567;
  font-size: 1em;
  padding: 10px;
}

/* MAIN */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  background-color: #eaeaf4;
  padding: 20px;
}

img {
  height: 28px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;
  border: 2px solid #353567;
}

.article__section--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f32;
  height: 35px;
  padding: 2px;
}

.article__section--body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  font-weight: 700;
  font-size: 1.25em;
  margin: 20px 15px 20px 15px;
}

p {
  color: #1f1f3d;
  font-size: 1.25em;
  margin: 0px 15px 0px 15px;
  line-height: 1.25em;
  margin-bottom: 20px;
}

.article__section--h3{
  color: #ffffff;
}

.article__section--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #5356a4;
  height: 35px;
}
