/* ALL */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40% 10% auto auto;;
  grid-template-areas:
    "aside header header header"
    "aside header header header"
    "aside main main main"
    "aside main main main";
    height: 100vh;
}

/* ASIDE */
aside {
  background-color: #1f1f32;
  grid-area: aside;
}

.aside__hamburger--menu {
  display: none;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 1.25em;
  margin: 25px 0px 0px 15px;
}

.aside__h3 {
  color: #bfbfdd;
  font-size: 1em;
  margin-left: 15px;
}


hr {
  border: 1px solid #353567;
  margin: 25px 0px 25px 0px;
  width: 100%;
}

button {
  border-radius: 2px;
  border: 1px solid #353567;
  color: #e9e9f3;
  font-size: 1.25em;
  font-weight: 700;
  width: 100%;
  /* cursor: pointer; */
}

button:disabled {
  background-color: #d0d2d3;
  border: 1px solid #8f8f8f;
}

.aside--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside__btn {
  background-color: #5356a4;
  height: 50px;
  margin-top: 30px;
  width: 90%;
  outline: none;
}

.aside__btn--qual {
  background-color: #5356a4;
  height: 50px;
  margin-top: 30px;
  width: 90%;
  outline: none;
}

ul{
  margin: 20px 0px 20px 0px;
}

li {
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 300;
  padding: 15px;
}

li:hover {
  background-color:#d14119;
  border-left: 8px solid #fa9c82;
}

.aside__input {
  height: 50px;
  margin-top: 10px;
  width: 90%;
  outline: none;
}

/* HEADER */
header {
  align-items: center;
  background-color: #a9aad2;
  display: flex;
  grid-area: header;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  width: 50%;
}

label {
  font-weight: 700;
  margin-bottom: -20px;
}

input {
  border-radius: 2px;
  border: 2px solid #353567;
  font-size: 1em;
  padding: 10px;
}

.form__input--title {
  height: 50px;
  margin-top: 10px;
  outline: none;
}

.form__input--body {
  height: 80px;
  margin-top: 10px;
  outline: none;
}

.form__btn {
  background-color: #353567;
  height: 15%;
}

.form__search--container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.form__img {
  height: 30px;
}

.form__img--bkgd {
  background-color: #353567;
  border-radius: 2px 0px 0px 2px;
  height: 50px;
  padding: 10px;
  width: 50px;
}

.form__input--search {
  height: 50px;
  padding: 10px;
  width: 100%;
  outline: none;
}

/* MAIN */
main {
  background-color: #eaeaf4;
  display: grid;
  grid-area: main;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 20px;
}

img {
  height: 28px;
}

article {
  border-radius: 2px;
  border: 2px solid #353567;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__section--header {
  align-items: center;
  background-color: #1f1f32;
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: space-between;
  padding: 2px;
}

.article__section--body{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 30px;
}

h2 {
  font-weight: 700;
  font-size: 1.25em;
  margin: 20px 15px 20px 15px;
  color: #1f1f32;
}

p {
  color: #1f1f3d;
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 20px;
  margin: 0px 15px 0px 15px;
}

.main__paragraph {
  font-size: 3em;
  font-style: italic;
  margin-top: 5%;
  position: absolute;
}

.hidden {
	display: none;
}

.article__section--h2 {
  max-height: 38px;
  outline: none;
  overflow: scroll;
  width: 11em;
}

.article__section--p {
  height: 139px;
  outline: none;
  overflow: scroll;
  width: 11em;

}

.article__section--h3{
  color: #ffffff;
}

.article__section--footer {
  align-items: center;
  background-color: #5356a4;
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: space-between;
}

@media screen and (max-width: 1120px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  form {
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  form {
    width: 70%;
  }

  h1{
    margin: 25px 15px 0px 15px;
  }

  h3 {
    margin: 25px 15px 0px 15px;
  }

  .article__section--h3 {
    margin: 0px 15px 0px 15px;
  }

  .aside__btn {
    height: 76px;
  }
}

@media screen and (max-width: 500px) {

/* ALL */
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 30% 30% auto auto;
    grid-template-areas:
      "aside aside"
      "header header"
      "header header"
      "main main"
      "main main";
  }

/* ASIDE */
  h1 {
    color: white;
    font-weight: 700;
    font-size: 1.25em;
    margin: 20px 0px 0px 30px;
    display: inline-block;
  }

  .aside__hamburger--menu {
    display: inline-block;
    height: 35px;
    margin: 0px 0px -8px 15px;
  }

  #aside__hamburger--container {
    background-color: #1f1f32;
    position: absolute;
    width: 100%;
    height: 618px;
  }

  .toggleMenu {
    visibility: hidden;
    position: absolute;
    z-index: 2;
  }

  .aside__hr--1,
  .aside__hr--3 {
    border: 1px solid #1f1f32;
  }

/* HEADER */
  form {
    width: 90%;
  }

/* MAIN */
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .main__paragraph {
    font-size: 1.75em;
    margin-top: -1%;
    position: absolute;
    z-index: 1;
  }

  article {
    border-radius: 2px;
    border: 2px solid #353567;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .article__section--p {
    height: 49px;
    outline: none;
    overflow: scroll;
    width: 11em;
  }
}
