/* ALL */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40% 10% auto auto;;
  grid-template-areas:
    "aside header header header"
    "aside header header header"
    "aside main main main"
    "aside main main main";
    height: 100vh; 
}

/* ASIDE */
aside {
  background-color: #1f1f32;
  grid-area: aside;
  padding: 20px 15px 0px 15px;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 1.25em;
}

h3 {
  color: #bfbfdd;
  font-size: 1em;
}


hr {
  border: 1px solid #353567;
  margin: 30px 0px 30px 0px;
  width: 100%;
}

button {
  border-radius: 2px;
  border: 1px solid #353567;
  color: #e9e9f3;
  font-size: 1.25em;
  font-weight: 700;
  width: 100%;
}

.aside__btn {
  background-color: #5356a4;
  height: 5%;
  margin-top: 30px;
}

ul{
  margin: 20px 0px 20px 0px;
}

li {
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 300;
  padding: 10px;
}

li:hover {
  background-color:#d14119;
}

.aside__input {
  height: 50px;
  margin-top: 10px;
  width: 100%;
}

/* HEADER */
header {
  align-items: center;
  background-color: #a9aad2;
  display: flex;
  grid-area: header;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  width: 50%;
}

label {
  font-weight: 700;
  margin-bottom: -20px;
}

input {
  border-radius: 2px;
  border: 2px solid #353567;
  font-size: 1em;
  padding: 5px;
}

.form__input--title {
  height: 50px;
  margin-top: 10px;
}

.form__input--body {
  height: 80px;
  margin-top: 10px;
}

.form__btn {
  background-color: #353567;
  height: 15%;
}

.form__search--container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.form__img {
  height: 30px;
}

.form__img--bkgd {
  background-color: #353567;
  border-radius: 2px 0px 0px 2px;
  height: 50px;
  padding: 10px;
  width: 50px;
}

.form__input--search {
  height: 50px;
  padding: 10px;
  width: 100%;
}

/* MAIN */
main {
  background-color: #eaeaf4;
  display: grid;
  grid-area: main;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 20px;
}

img {
  height: 28px;
}
/* 
.article__section--upvote {
  background: url(idea-box-images/upvote.svg) no-repeat;
  height: 28px;
}

.article__section--upvote:hover {
  background: url(idea-box-images/upvote-active.svg) no-repeat;
}

.article__section--downvote {
  background: url(idea-box-images/downvote.svg) no-repeat;
  height: 28px;
}

.article__section--downvote:hover {
  background: url(idea-box-images/downvote-active.svg) no-repeat; 
} */

article {
  border-radius: 2px;
  border: 2px solid #353567;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__section--header {
  align-items: center;
  background-color: #1f1f32;
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: space-between;
  padding: 2px;
}

.article__section--body{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 30px;
}

h2 {
  font-weight: 700;
  font-size: 1.25em;
  margin: 20px 15px 20px 15px;
}

p {
  color: #1f1f3d;
  font-size: 1.25em;
  line-height: 1.25em;
  margin-bottom: 20px;
  margin: 0px 15px 0px 15px;
}

.main__paragraph {
  font-size: 3em;
  font-style: italic;
  margin-top: 5%;
  position: absolute;
}

.hidden {
	display: none;
}

.article__section--h2 {
  width: 180px; 
}

.article__section--p {
  height: 170px;
  overflow: scroll;
  width: 180px;
}

.article__section--h3{
  color: #ffffff;
}

.article__section--footer {
  align-items: center;
  background-color: #5356a4;
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: space-between;
}
